form {
    text-align: center;
    justify-content: center;
    max-width: 800px;
    min-width: 400px;
}

form input:required {
    border: 2px solid red;
}

form fieldset {
    background-color: lightgray;
    padding: 1rem;
}

form fieldset:hover {
    background-color: gray;
}

form fieldset:nth-child(odd) {
    border-bottom: 5px solid black;
}

form .enviar {
    color: white;
    background-color: black;
    border: none;
}
